In [1]:
#import dependencies
import pandas as pd
import os
from sqlalchemy import create_engine

In [9]:
thor_path = 'Resources/THOR_WWII_DATA.csv'
thor_df = pd.read_csv(thor_path,encoding='latin-1', low_memory=False)
thor_df.head()

,WWII_ID,MASTER_INDEX_NUMBER,MSNDATE,THEATER,NAF,COUNTRY_FLYING_MISSION,TGT_COUNTRY_CODE,TGT_COUNTRY,TGT_LOCATION,TGT_TYPE,...,CALLSIGN,ROUNDS_AMMO,SPARES_RETURN_AC,WX_FAIL_AC,MECH_FAIL_AC,MISC_FAIL_AC,TARGET_COMMENT,MISSION_COMMENTS,SOURCE,DATABASE_EDIT_COMMENTS
0,1,NaN,8/15/1943,MTO,12 AF,USA,13.0,ITALY,SPADAFORA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4285,20028.0,2/20/1945,PTO,5 AF,USA,NaN,PHILIPPINE ISLANDS,PUERTA PRINCESA,UNIDENTIFIED TARGET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,NaN,8/15/1943,MTO,12 AF,USA,13.0,ITALY,COSENZA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,NaN,8/15/1943,MTO,12 AF,USA,13.0,ITALY,GIOJA TAURO,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
4,8167,14639.0,2/23/1945,PTO,5 AF,USA,NaN,PHILIPPINE ISLANDS,BALETE PASS,WOODED AREA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
#drop unnecessary columns
thor_one = thor_df.drop(columns = ['WWII_ID', 'MASTER_INDEX_NUMBER', 'NAF', 'COUNTRY_FLYING_MISSION', 'TGT_COUNTRY_CODE', 'TGT_TYPE', 'TGT_ID', 'TGT_INDUSTRY_CODE'])
thor_one.head()

,MSNDATE,THEATER,TGT_COUNTRY,TGT_LOCATION,TGT_INDUSTRY,SOURCE_LATITUDE,SOURCE_LONGITUDE,LATITUDE,LONGITUDE,UNIT_ID,...,CALLSIGN,ROUNDS_AMMO,SPARES_RETURN_AC,WX_FAIL_AC,MECH_FAIL_AC,MISC_FAIL_AC,TARGET_COMMENT,MISSION_COMMENTS,SOURCE,DATABASE_EDIT_COMMENTS
0,8/15/1943,MTO,ITALY,SPADAFORA,NaN,38.2166667,15.3666667,38.220000,15.370000,27 FBG/86 FBG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2/20/1945,PTO,PHILIPPINE ISLANDS,PUERTA PRINCESA,NaN,945,11845,9.750000,118.750000,89 S,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8/15/1943,MTO,ITALY,COSENZA,NaN,3916N,1615,39.270000,16.250000,27 FBG/86 FBG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,8/15/1943,MTO,ITALY,GIOJA TAURO,NaN,3826N,1554,38.430000,15.900000,27 FBG/86 FBG,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
4,2/23/1945,PTO,PHILIPPINE ISLANDS,BALETE PASS,NaN,1605,12055,16.083333,120.916667,113 S,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
# drop more columns
thor_two = thor_one.drop(columns = ['TGT_INDUSTRY', 'SOURCE_LATITUDE', 'SOURCE_LONGITUDE', 'UNIT_ID', 'MDS', 'MSN_TYPE', 'TGT_PRIORITY', 'TGT_PRIORITY_EXPLANATION'])
thor_two.head()

,MSNDATE,THEATER,TGT_COUNTRY,TGT_LOCATION,LATITUDE,LONGITUDE,AIRCRAFT_NAME,AC_ATTACKING,ALTITUDE,ALTITUDE_FEET,...,CALLSIGN,ROUNDS_AMMO,SPARES_RETURN_AC,WX_FAIL_AC,MECH_FAIL_AC,MISC_FAIL_AC,TARGET_COMMENT,MISSION_COMMENTS,SOURCE,DATABASE_EDIT_COMMENTS
0,8/15/1943,MTO,ITALY,SPADAFORA,38.220000,15.370000,A36,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2/20/1945,PTO,PHILIPPINE ISLANDS,PUERTA PRINCESA,9.750000,118.750000,A20,1.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8/15/1943,MTO,ITALY,COSENZA,39.270000,16.250000,A36,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,8/15/1943,MTO,ITALY,GIOJA TAURO,38.430000,15.900000,A36,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
4,2/23/1945,PTO,PHILIPPINE ISLANDS,BALETE PASS,16.083333,120.916667,A20,1.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
#drop more columns
thor_three = thor_two.drop(columns = ['AC_ATTACKING', 'ALTITUDE', 'ALTITUDE_FEET', 'TAKEOFF_BASE', 'TAKEOFF_COUNTRY', 'TAKEOFF_LATITUDE', 'TAKEOFF_LONGITUDE', 'AC_LOST'])
thor_three.head()

,MSNDATE,THEATER,TGT_COUNTRY,TGT_LOCATION,LATITUDE,LONGITUDE,AIRCRAFT_NAME,NUMBER_OF_HE,TYPE_OF_HE,LBS_HE,...,CALLSIGN,ROUNDS_AMMO,SPARES_RETURN_AC,WX_FAIL_AC,MECH_FAIL_AC,MISC_FAIL_AC,TARGET_COMMENT,MISSION_COMMENTS,SOURCE,DATABASE_EDIT_COMMENTS
0,8/15/1943,MTO,ITALY,SPADAFORA,38.220000,15.370000,A36,40.0,500 LB GP (GP-M43/M64),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2/20/1945,PTO,PHILIPPINE ISLANDS,PUERTA PRINCESA,9.750000,118.750000,A20,NaN,250 LB GP (GP-M57),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8/15/1943,MTO,ITALY,COSENZA,39.270000,16.250000,A36,36.0,500 LB GP (GP-M43/M64),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,8/15/1943,MTO,ITALY,GIOJA TAURO,38.430000,15.900000,A36,30.0,500 LB GP (GP-M43/M64),NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
4,2/23/1945,PTO,PHILIPPINE ISLANDS,BALETE PASS,16.083333,120.916667,A20,NaN,250 LB GP (GP-M57),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
#drop more columns
thor_four = thor_three.drop(columns = ['AC_DAMAGED', 'AC_AIRBORNE', 'AC_DROPPING', 'TIME_OVER_TARGET', 'SIGHTING_METHOD_CODE', 'SIGHTING_EXPLANATION', 'BDA', 'CALLSIGN'])
thor_four.head()

,MSNDATE,THEATER,TGT_COUNTRY,TGT_LOCATION,LATITUDE,LONGITUDE,AIRCRAFT_NAME,NUMBER_OF_HE,TYPE_OF_HE,LBS_HE,...,TOTAL_TONS,ROUNDS_AMMO,SPARES_RETURN_AC,WX_FAIL_AC,MECH_FAIL_AC,MISC_FAIL_AC,TARGET_COMMENT,MISSION_COMMENTS,SOURCE,DATABASE_EDIT_COMMENTS
0,8/15/1943,MTO,ITALY,SPADAFORA,38.220000,15.370000,A36,40.0,500 LB GP (GP-M43/M64),NaN,...,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2/20/1945,PTO,PHILIPPINE ISLANDS,PUERTA PRINCESA,9.750000,118.750000,A20,NaN,250 LB GP (GP-M57),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8/15/1943,MTO,ITALY,COSENZA,39.270000,16.250000,A36,36.0,500 LB GP (GP-M43/M64),NaN,...,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,8/15/1943,MTO,ITALY,GIOJA TAURO,38.430000,15.900000,A36,30.0,500 LB GP (GP-M43/M64),NaN,...,7.5,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
4,2/23/1945,PTO,PHILIPPINE ISLANDS,BALETE PASS,16.083333,120.916667,A20,NaN,250 LB GP (GP-M57),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
#drop more columns
thor_five = thor_four.drop(columns = ['ROUNDS_AMMO', 'SPARES_RETURN_AC', 'WX_FAIL_AC', 'MECH_FAIL_AC', 'MISC_FAIL_AC', 'TARGET_COMMENT', 'MISSION_COMMENTS', 'SOURCE'])
thor_five.head()

,MSNDATE,THEATER,TGT_COUNTRY,TGT_LOCATION,LATITUDE,LONGITUDE,AIRCRAFT_NAME,NUMBER_OF_HE,TYPE_OF_HE,LBS_HE,...,TYPE_OF_IC,LBS_IC,TONS_OF_IC,NUMBER_OF_FRAG,TYPE_OF_FRAG,LBS_FRAG,TONS_OF_FRAG,TOTAL_LBS,TOTAL_TONS,DATABASE_EDIT_COMMENTS
0,8/15/1943,MTO,ITALY,SPADAFORA,38.220000,15.370000,A36,40.0,500 LB GP (GP-M43/M64),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,NaN
1,2/20/1945,PTO,PHILIPPINE ISLANDS,PUERTA PRINCESA,9.750000,118.750000,A20,NaN,250 LB GP (GP-M57),NaN,...,100 LB INCENDIARY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8/15/1943,MTO,ITALY,COSENZA,39.270000,16.250000,A36,36.0,500 LB GP (GP-M43/M64),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,NaN
3,8/15/1943,MTO,ITALY,GIOJA TAURO,38.430000,15.900000,A36,30.0,500 LB GP (GP-M43/M64),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.5,NaN
4,2/23/1945,PTO,PHILIPPINE ISLANDS,BALETE PASS,16.083333,120.916667,A20,NaN,250 LB GP (GP-M57),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
#drop final columns
final_thor = thor_five.drop(columns = ['DATABASE_EDIT_COMMENTS'])
final_thor

,MSNDATE,THEATER,TGT_COUNTRY,TGT_LOCATION,LATITUDE,LONGITUDE,AIRCRAFT_NAME,NUMBER_OF_HE,TYPE_OF_HE,LBS_HE,...,NUMBER_OF_IC,TYPE_OF_IC,LBS_IC,TONS_OF_IC,NUMBER_OF_FRAG,TYPE_OF_FRAG,LBS_FRAG,TONS_OF_FRAG,TOTAL_LBS,TOTAL_TONS
0,8/15/1943,MTO,ITALY,SPADAFORA,38.220000,15.370000,A36,40.0,500 LB GP (GP-M43/M64),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.00
1,2/20/1945,PTO,PHILIPPINE ISLANDS,PUERTA PRINCESA,9.750000,118.750000,A20,NaN,250 LB GP (GP-M57),NaN,...,NaN,100 LB INCENDIARY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8/15/1943,MTO,ITALY,COSENZA,39.270000,16.250000,A36,36.0,500 LB GP (GP-M43/M64),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.00
3,8/15/1943,MTO,ITALY,GIOJA TAURO,38.430000,15.900000,A36,30.0,500 LB GP (GP-M43/M64),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.50
4,2/23/1945,PTO,PHILIPPINE ISLANDS,BALETE PASS,16.083333,120.916667,A20,NaN,250 LB GP (GP-M57),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178276,12/14/1942,PTO,NEW GUINEA,BUNA AREA - 5 DESTROYERS / MOUTH OF KUMUSI RIVER,-8.472085,148.234293,A20,18.0,250 LB GP (GP-M57),4500.0,...,NaN,NaN,NaN,0.00,NaN,NaN,NaN,0.0,4500.0,2.25
178277,9/18/1940,MTO,ETHIOPIA,YAVELLO,4.883333,38.083333,JU.86,8.0,250 LB GP (GP-M57),NaN,...,16.0,20 LB,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.00
178278,11/17/1942,PTO,TIMOR,BAUCAU,-8.471111,126.458333,HUDSON,18.0,250 LB GP (GP-M57),4500.0,...,75.0,10 LB INCENDIARY,300.0,0.15,NaN,NaN,NaN,0.0,4800.0,2.40
178279,2/16/1945,PTO,NEW IRELAND,KAVIENG SWEEP,-2.583333,150.833333,F4U,8.0,1000 LB GP (GP-M44/M65),8000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8000.0,4.00
178280,6/11/1942,PTO,NaN,NaN,-9.050000,124.533333,HUDSON,4.0,250 LB GP (GP-M57),1000.0,...,NaN,NaN,NaN,0.00,NaN,NaN,NaN,0.0,1000.0,0.50

In [17]:
final_thor.columns

Index(['MSNDATE', 'THEATER', 'TGT_COUNTRY', 'TGT_LOCATION', 'LATITUDE',
       'LONGITUDE', 'AIRCRAFT_NAME', 'NUMBER_OF_HE', 'TYPE_OF_HE', 'LBS_HE',
       'TONS_OF_HE', 'NUMBER_OF_IC', 'TYPE_OF_IC', 'LBS_IC', 'TONS_OF_IC',
       'NUMBER_OF_FRAG', 'TYPE_OF_FRAG', 'LBS_FRAG', 'TONS_OF_FRAG',
       'TOTAL_LBS', 'TOTAL_TONS'],
      dtype='object')

In [24]:
thor_scrape = final_thor.rename(columns={"AIRCRAFT_NAME": "Aircraft Name", "NUMBER_OF_HE": "Number of High Explosives", "TYPE_OF_HE": "Type of High Explosive", "LBS_HE": "Weight of High Explosive (lbs)", "TONS_OF_HE": "Weight of High Explosive (tons)", "NUMBER_OF_IC": "Number of Incendiary", "TYPE_OF_IC": "Type of Incendiary", "LBS_IC": "Weight of Incendiary (lbs)", "TONS_OF_IC": "Weight of Incendiary (tons)", "NUMBER_OF_FRAG": "Number of Fragmentation Weapon", "TYPE_OF_FRAG": "Type of Fragmentation Weapon", "LBS_FRAG": "Weight of Fragmentaion Weapon (lbs)", "TONS_OF_FRAG": "Weight of Fragmentation Weapon (tons)", "TOTAL_LBS": "Total Weight (lbs)", "TOTAL_TONS": "Total Weight (tons)"})

In [25]:
thor_scrape.to_csv("Resources/THOR_scrape.csv")

In [26]:
thor_scrape

,MSNDATE,THEATER,TGT_COUNTRY,TGT_LOCATION,LATITUDE,LONGITUDE,Aircraft Name,Number of High Explosives,Type of High Explosive,Weight of High Explosive (lbs),...,Number of Incendiary,Type of Incendiary,Weight of Incendiary (lbs),Weight of Incendiary (tons),Number of Fragmentation Weapon,Type of Fragmentation Weapon,Weight of Fragmentaion Weapon (lbs),Weight of Fragmentation Weapon (tons),Total Weight (lbs),Total Weight (tons)
0,8/15/1943,MTO,ITALY,SPADAFORA,38.220000,15.370000,A36,40.0,500 LB GP (GP-M43/M64),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.00
1,2/20/1945,PTO,PHILIPPINE ISLANDS,PUERTA PRINCESA,9.750000,118.750000,A20,NaN,250 LB GP (GP-M57),NaN,...,NaN,100 LB INCENDIARY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8/15/1943,MTO,ITALY,COSENZA,39.270000,16.250000,A36,36.0,500 LB GP (GP-M43/M64),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.00
3,8/15/1943,MTO,ITALY,GIOJA TAURO,38.430000,15.900000,A36,30.0,500 LB GP (GP-M43/M64),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.50
4,2/23/1945,PTO,PHILIPPINE ISLANDS,BALETE PASS,16.083333,120.916667,A20,NaN,250 LB GP (GP-M57),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178276,12/14/1942,PTO,NEW GUINEA,BUNA AREA - 5 DESTROYERS / MOUTH OF KUMUSI RIVER,-8.472085,148.234293,A20,18.0,250 LB GP (GP-M57),4500.0,...,NaN,NaN,NaN,0.00,NaN,NaN,NaN,0.0,4500.0,2.25
178277,9/18/1940,MTO,ETHIOPIA,YAVELLO,4.883333,38.083333,JU.86,8.0,250 LB GP (GP-M57),NaN,...,16.0,20 LB,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.00
178278,11/17/1942,PTO,TIMOR,BAUCAU,-8.471111,126.458333,HUDSON,18.0,250 LB GP (GP-M57),4500.0,...,75.0,10 LB INCENDIARY,300.0,0.15,NaN,NaN,NaN,0.0,4800.0,2.40
178279,2/16/1945,PTO,NEW IRELAND,KAVIENG SWEEP,-2.583333,150.833333,F4U,8.0,1000 LB GP (GP-M44/M65),8000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8000.0,4.00
178280,6/11/1942,PTO,NaN,NaN,-9.050000,124.533333,HUDSON,4.0,250 LB GP (GP-M57),1000.0,...,NaN,NaN,NaN,0.00,NaN,NaN,NaN,0.0,1000.0,0.50

In [27]:
thor_scrape.columns

Index(['MSNDATE', 'THEATER', 'TGT_COUNTRY', 'TGT_LOCATION', 'LATITUDE',
       'LONGITUDE', 'Aircraft Name', 'Number of High Explosives',
       'Type of High Explosive', 'Weight of High Explosive (lbs)',
       'Weight of High Explosive (tons)', 'Number of Incendiary',
       'Type of Incendiary', 'Weight of Incendiary (lbs)',
       'Weight of Incendiary (tons)', 'Number of Fragmentation Weapon',
       'Type of Fragmentation Weapon', 'Weight of Fragmentaion Weapon (lbs)',
       'Weight of Fragmentation Weapon (tons)', 'Total Weight (lbs)',
       'Total Weight (tons)'],
      dtype='object')

In [28]:
import sqlite3
from sqlite3 import Error

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect

# Import Flask 
# from flask import Flask, jsonify

# Setup Database
engine = create_engine('sqlite:///wwii.db')

In [ ]:
thor_scrape.to_sql('bomb_weapons', con=engine)